@charset "UTF-8";
body {
  color: #151515;
  background: #fff;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 1060px;
  }
}

html.is-locked, body.is-locked {
  overflow: hidden;
}

* {
  outline: none;
}

.u-show-pc {
  display: block !important;
}

@media screen and (max-width: 767px) {
  .u-show-pc {
    display: none !important;
  }
}

.u-show-sp {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .u-show-sp {
    display: block !important;
  }
}

.u-notap {
  -webkit-tap-highlight-color: transparent;
}

.u-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.u-flex.u-flex--center {
  -ms-flex-align: center;
      align-items: center;
}

.u-bg-fill {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.interview-block {
  text-align: left;
}

.interview-block img {
  width: 100%;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
}

.interview-block__tagline {
  margin: 15px 0;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: .18em;
}

.interview-block__company {
  font-size: 12px;
}

.interview-block__department {
  font-size: 12px;
}

.interview-block__position {
  font-size: 12px;
}

.interview-block__name {
  margin-top: 15px;
}

.interview-block__name-ja,
.interview-block__name-en {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: .18em;
}

.interview-block__name-ja:after {
  position: relative;
  left: 2px;
  content: '｜';
}

.interview-block__name-en {
  position: relative;
  top: -1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: .1em;
}

.l-container {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    padding: 0 25px;
  }
}

.l-cover {
  padding-top: 6.8rem;
  text-align: center;
}

.l-cover.l-cover--detail .l-cover-bg {
  width: 80%;
  margin-left: auto;
}

.l-cover-bg {
  position: relative;
  padding-top: calc(525 / 1280 * 100%);
}

.l-cover__title {
  position: absolute;
  top: calc(166 / 525 * 100%);
  left: 50%;
  text-align: center;
  color: #fff;
  transform: translate(-50%);
}

.l-cover__title-en {
  position: relative;
  margin-bottom: 1.95312vw;
  padding-bottom: 3.51562vw;
}

.l-cover__title-en:before {
  display: inline-block;
  width: 200px;
  height: 1px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: calc(50% - 100px);
  content: '';
  background-color: #fff;
}

.l-cover__title-en img {
  width: 31.10078vw;
  height: 5.1875vw;
}

.l-cover__title-ja {
  line-height: 2.45rem;
  white-space: nowrap;
  letter-spacing: .4em;
}

.l-interview__eyecatch {
  position: relative;
  padding: 400px 0 200px;
}

.l-interview__eyecatch:before {
  display: block;
  width: 1200px;
  height: 572px;
  position: absolute;
  top: 250px;
  left: 0;
  content: '';
  background-color: #f7f7f7;
}

.l-interview__eyecatch-left {
  width: 600px;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
}

.l-interview__eyecatch-left span {
  display: inline-block;
  margin-bottom: 5rem;
  padding-bottom: 1.35rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: .25em;
  border-bottom: 2px solid #0044af;
}

.l-interview__eyecatch-left h2 {
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .25em;
}

.l-interview__eyecatch-left p {
  padding-right: 150px;
  line-height: 2;
}

.l-interview__eyecatch-right {
  position: absolute;
  top: -200px;
  right: 0;
}

.l-interview__eyecatch-right:before {
  display: block;
  width: 304px;
  height: 368px;
  position: absolute;
  top: -45px;
  right: -35px;
  content: '';
  background-color: #164184;
}

.l-interview__eyecatch-right img {
  width: calc(725px * .7);
  height: calc(542px * .7);
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-interview__content {
  padding-bottom: 200px;
  text-align: center;
  background: linear-gradient(to bottom, #fff 50%, #f7f7f7 0);
}

.l-interview__content h2 {
  margin-bottom: 70px;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .25em;
}

.l-interview__categories {
  margin-bottom: 70px;
}

.l-interview__categories li {
  width: 23%;
  margin-bottom: 25px;
}

.l-interview__categories li a {
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 60px;
  border: 1px solid #000;
}

.l-interview__items li {
  width: 32%;
  margin-bottom: 40px;
}

.l-single__eyecatch {
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-bottom: 50px;
  text-align: left;
}

.l-single__eyecatch-left {
  width: 60%;
  position: relative;
  margin-top: -150px;
  padding: 80px 10% 50px 15%;
  background-color: #fff;
}

.l-single__eyecatch-tagline {
  margin-bottom: 40px;
  font-size: 3.3rem;
  font-weight: normal;
  letter-spacing: .25em;
}

.l-single__eyecatch-history {
  line-height: 1.8;
  opacity: .3;
}

.l-single__eyecatch-right {
  width: 36%;
  position: relative;
  top: -50px;
  padding: 50px 4vw;
  color: #fff;
  background-color: #164184;
}

.l-single__eyecatch-right h2 {
  margin-top: 15px;
  font-weight: 500;
  line-height: 1.8;
}

.l-single__title-ja {
  display: block;
  margin-bottom: 10px;
  font-size: 3.2rem;
  font-weight: normal;
  letter-spacing: .25em;
}

.l-single__title-en {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: .25em;
}

.l-single__eyecatch-company,
.l-single__eyecatch-department,
.l-single__eyecatch-position {
  font-weight: 500;
  line-height: 1.8;
}

.l-single__eyecatch-tags {
  -ms-flex-pack: initial;
      justify-content: initial;
  margin-top: 10px;
}

.l-single__eyecatch-tags li {
  padding: 8px 15px;
  color: #164184;
  border-radius: 50px;
  background-color: #fff;
}

.l-single__eyecatch-tags li:not(:last-child) {
  margin-right: 10px;
}

.l-single__eyecatch-note {
  margin-top: 15px;
  font-size: 1.2rem;
}

.l-single__block {
  margin-bottom: 180px;
  text-align: left;
}

.l-single__block img {
  width: 48.5%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-single__block.l-single__block--alternate {
  padding: 150px 0;
  color: #fff;
  background: linear-gradient(to right, #164184 85%, #fff 0);
}

.l-single__block.l-single__block--alternate img {
  -ms-flex-order: 2;
      order: 2;
}

.l-single__block.l-single__block--alternate .l-single__block-content {
  padding-right: 0;
  padding-left: 15%;
}

.l-single__block.l-single__block--alternate .l-single__block-content h3 {
  margin-top: 50px;
}

.l-single__block.l-single__block--wide .l-single__block-content {
  width: 100%;
  padding: 0;
}

.l-single__block.l-single__block--wide .l-single__block-content h3 {
  margin-top: 0;
}

.l-single__block.l-single__block--wide img {
  width: 100%;
  margin-top: 50px;
  -ms-flex-order: 2;
      order: 2;
}

.l-single__block-content {
  width: 48.5%;
  padding-right: 15%;
}

.l-single__block-content h3 {
  margin: 100px 0 50px;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 2;
}

.l-single__block-content p {
  margin-bottom: 20px;
  line-height: 2;
}

.l-single__related {
  padding-bottom: 150px;
  background: linear-gradient(to bottom, #fff 30%, #f7f7f7 0);
}

.l-single__related h2 {
  margin-bottom: 70px;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .25em;
}
